$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon--home: "\e900";
$icon--edit: "\e905";
$icon--save: "\e962";
$icon--cog: "\e994";
$icon--bin: "\e9ad";
$icon--download: "\e9c2";
$icon--cloud-upload: "\e9c3";
$icon--attachment: "\e9cd";
$icon--warning: "\ea07";
$icon--plus: "\ea0a";
$icon--minus: "\ea0b";
$icon--cross: "\ea0f";
$icon--arrow-right: "\ea34";
$icon--table: "\ea70";

