@use 'mixins/media';

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    font: 1.6rem/1.6 sans-serif;
    background-color: var(--color-white);

    @media print {
        font-size: 1rem;
    }

    @include media.mobile {
        font-size: 1rem;
    }
}

main {
    width: calc(100% - 2 * var(--side-margin));
    margin-right: auto;
    margin-left: auto;
    flex: 1 0 auto
}

main table {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 1.2rem;
}

td,
th {
    padding: 10px;
    border: 1px solid currentcolor;
    hyphens: auto;
    width: calc(100% / (var(--cols) + 1));
    min-width: 0;
}

td {
    background-color: rgba(green, .3);
}
td:empty {
    background-color: lightgray;
}

tr .result {
    position: relative;
    margin: 2px;
    padding: 2px 10px;
    background-color: rgba(white, .3);
}

td,
th {
    &.active-row,
    &.active-col {
        background-color: rgba(beige, 1);
    }
}

.active-col.active-row:empty {
    background-color: red;
}

.active-col.active-row {
    background-color: rgba(green, .7);
}

input,
textarea {
    display: block;
    width: 100%;
    border: 2px solid var(--color-primary);
    padding: 1rem 1rem .8rem;
    border-radius: var(--default-radius);
    margin-bottom: 2rem;
}

label input {
    input,
    textarea {
        margin-top: 1rem;
    }
}

label {
    font-size: 1.8rem;
}

hr {
    border-top: 2px solid var(--color-primary);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
