@use 'mixins/media';
@use '../../fonts/icons/variables';

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    font: 1.6rem/1.6 sans-serif;
    background-color: var(--color-white);

    @media print {
        font-size: 1rem;
    }

    @include media.mobile {
        font-size: 1rem;
    }
}

main {
    width: calc(100% - 2 * var(--side-margin));
    margin-right: auto;
    margin-left: auto;
    flex: 1 0 auto
}

main table {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 1.2rem;
    page-break-before: always;
}

td,
th {
    padding: 10px;
    border: 1px solid currentcolor;
    hyphens: auto;
    width: calc(100% / (var(--cols) + 1));
    min-width: 0;

    .layout-short-description-on & {
        width: auto;
        padding: 2px;
    }
}

td {
    background-color: rgba(green, .3);
    vertical-align: top;
}

td:empty {
    background-color: lightgray;
}

td,
th {
    &.active-row,
    &.active-col {
        background-color: rgba(beige, 1);
    }
}

.active-col.active-row:empty {
    background-color: red;
}

.active-col.active-row {
    background-color: rgba(green, .7);
}

[type='text'],
[type='number'],
textarea {
    display: block;
    width: 100%;
    border: 2px solid var(--color-primary);
    padding: 1rem 1rem .8rem;
    border-radius: var(--default-radius);
    margin-bottom: 2rem;
}

[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

label:has([type='checkbox'])::before,
label:has([type='radio'])::before {
    font-family: variables.$icomoon-font-family;
    content: variables.$icon--checkbox-unchecked;
    display: inline-block;
    margin-right: .3em;
    vertical-align: middle;
    font-size: 1.2em;
}

label:has([type='radio'])::before {
    content: variables.$icon--radio-unchecked;
}

label:has([type='checkbox']:checked)::before {
    content: variables.$icon--checkbox-checked;
}

label:has([type='radio']:checked)::before {
    content: variables.$icon--radio-checked;
}

label input {
    input,
    textarea {
        margin-top: 1rem;
    }
}

label {
    font-size: 1.8rem;
}

hr {
    border-top: 2px solid var(--color-primary);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
