:root {
    --side-margin: 2rem;
    --color-white: #FFF4F4;
    --color-primary: #4D0A59;
    --color-primary-complementary: var(--color-white);
    --color-primary-transparent: #{rgba(#4D0A59, .1)};
    --color-accent: #D4ADEA;
    --color-accent-transparent: #{rgba(#D4ADEA, .2)};
    --color-accent-alt: #D5D5D5;
    --default-radius: .6rem;
    --gap: 2rem;
    --trans-in: .2s;
    --trans-out: .6s;

    @media print {
        --color-white: #FFF;
        --color-primary: #000;
        --color-primary-complementary: #FFF;
        --color-primary-transparent: #{rgba(#000, .1)};
        --color-accent: #{rgba(#000, .1)};
        --color-accent-transparent: #{rgba(#000, .2)};
        --color-accent-alt: #{rgba(#000, .1)};
        --default-radius: .6rem;
        --gap: 2rem;
        --trans-in: .2s;
        --trans-out: .6s;
    }
}
