:root {
    --side-margin: 2rem;
    --color-white: #FFF4F4;
    --color-primary: #4D0A59;
    --color-primary-complementary: var(--color-white);
    --color-accent: #D4ADEA;
    --default-radius: .6rem
}
