/**
 * dependency-table bem module
 */

.dependency-table {
    &-wrapper {
        width: 100%;
        overflow: auto;

        @media print {
            overflow: visible;
        }
    }

    .layout-list & {
        display: none;
    }
}
