/**
 * form-table bem module
 */

.form-table {
    &__add-data {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        > :not(button) {
            flex: 0 0 100%;
        }

        > button {
            margin-top: 2rem;
        }
    }

    &__footer {
        position: sticky;
        bottom: 0;
        padding: 2rem 0 1rem;
        background-color: var(--color-white);
    }
}
