/**
 * legend bem module
 */

.legend {
    columns: 5 var(--gap);

    @container (max-width: 170rem) {
        column-count: 4;
    }

    @container (max-width: 134rem) {
        column-count: 3;
    }

    @container (max-width: 60rem) {
        column-count: 2;
    }

    @container (max-width: 50rem) {
        columns: auto;
    }

    &__item {
        display: flex;
        break-inside: avoid;
        padding: .5rem 0 .1rem;
        border-bottom: 1px solid black;
        gap: 1rem;
        width: 100%;
    }

    &__term,
    &__definition {
        display: inline-block;
    }

    &__term {
        min-width: 5em;
    }
}
