.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    padding: var(--side-margin);
    background-color: var(--color-accent);

    &__download {
        display: none;
    }

    &__download:has([href]) {
        display: block;
    }
}
