.main-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4rem var(--gap);
    margin-top: 4rem;
    padding: var(--side-margin);
    background-color: var(--color-accent);

    @media print {
        display: none;
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        justify-content: flex-end;

        :where(a:not(a[href])) {
            display: none;
        }
    }
}
