/**
 * main-header bem module
 */

@use '../mixins/media';

.main-header {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    justify-content: end;
    padding: .6rem var(--side-margin);
    color: var(--color-primary);
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-primary);

    @media print {
        display: none;
    }

    label {
        margin-left: 1rem;
        font-size: inherit;
        cursor: pointer;
    }

    &__menu-toggle {
        display: none;
        position: relative;
        aspect-ratio: 4 / 2;
        width: 4rem;
        border-top: 4px solid var(--color-primary);
        border-bottom: 4px solid var(--color-primary);

        @include media.tablet {
            display: block;
        }
    }

    &__menu-toggle::after {
        content: '';
        display: block;
        margin: auto 0;
        position: absolute;
        inset: 0;
        height: 4px;
        width: 100%;
        background-color: var(--color-primary);
    }
}
