/**
 * tabs bem module
 */

@use '../mixins/media';

.tabs {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--gap);

    &__title {
        flex: 1 1 0;
        order: -1;
        margin: 0;
        font-size: 1.6rem;
        padding: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid var(--color-primary);
        border-bottom-width: 0;
        color: var(--color-primary);
        cursor: pointer;

        @media print {
            display: none;
        }

        @include media.tablet {
            font-size: 1rem;
            padding: .6rem .4rem;
        }
    }

    &__title.active {
        min-width: min-content;
        color: var(--color-primary-complementary);
        background-color: var(--color-primary);

        @media print {
            display: block;
            background: none;
            border: none;
            color: inherit;
            padding: 0;
            margin-bottom: .6rem;
        }
    }

    &__item-wrapper {
        display: contents;
    }

    &__item {
        border-top: 1px solid var(--color-primary);
        padding-top: .4rem;
        display: none;
        flex: 0 0 100%;

        @media print {
            border-top: none;
            padding-top: 0;
        }
    }

    &__title.active + &__item {
        display: block;
    }
}
