*,
::before,
::after {
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
}

body {
    font: 16px/1.6 sans-serif;
}

main table {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    table-layout: auto;
}

td,
th {
    padding: 10px;
    border: 1px solid currentcolor;
    hyphens: auto;
    min-width: 0;
}

th {
    width: 100px;
}

td {
    background-color: rgba(green, .3);
}
td:empty {
    background-color: lightgray;
}

tr .result {
    position: relative;
    margin: 2px;
    padding: 2px 10px;
    background-color: rgba(black, .1);
}

.result:hover {
    z-index: 10;
}

.formula {
    background: white;
    padding: 20px;
    border: 1px solid black;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    min-width: 100%;
    transform: translateX(-50%);
    pointer-events: none;
}

.result:hover .formula {
    display: block;
}

td,
th {
    &.active-row,
    &.active-col {
        background-color: rgba(yellow, .5);
    }
}

.active-col.active-row:empty {
    background-color: red;
}

.active-col.active-row {
    background-color: orange;
}
